.guide{
	display:flex;
	justify-content: space-between;
	align-items:center;
	gap: 0.4rem;
	margin-top: 1.82rem;
	margin-bottom: 2rem;

	&__info{
		max-width:5.85rem;
	}

	&__advices{
		margin-top: 0.82rem;
		display:flex;
		flex-direction:column;
		gap:0.32rem;
	}

	&__advice{
		display:grid;
		grid-template-columns: 0.68rem auto;
		gap:0.24rem;

		&-info{
			display:flex;
			flex-direction:column;
			gap: 0.1rem;
		}

		svg{
			width:0.68rem;
			height:0.68rem;
		}
	}

	img{
		width: 100%;
	}

	@media screen and (max-width: 1100px) {
		&{
			flex-direction: column-reverse;
			margin-bottom: 0.8rem;
			max-width:6.57rem;
		}
	}
}