.header{
	position:fixed;
	width: 100vw;
	z-index:2;
	background-color: rgb(59, 74, 95);
	transition:.5s;

	&__nav-container2{
		width:100%;
		display:none;
		background-color: rgb(59, 74, 95);
		padding:0.2rem;
		transition:.5s;
		position:absolute;
		top: 0.8rem;
		left:0;
	}

	.container{
		padding:0.2rem;
		display:flex;
		align-items:center;
		justify-content: space-between;
		margin:auto;
		color:white;
	}

	&__logo{
		height:40px;
		display:flex;
		align-items: center;
		gap: 8px;
		font-family: "700";
		font-size: 24px;
	}

	&__link {
		border-bottom: 2px solid transparent;
		transition: .5s;

		&:hover{
			transform:scale(1.1);
			border-bottom: 2px solid white;
		}
	}

	&__nav{
		display:flex;
		gap:0.68rem;
		font-size: 0.24rem;
		font-family:'400';
	}

	&__menu{
		display:none;
		width:30px;
		transition:.5s;
	}

	&__basket{
		position:relative;
		height:50px;
		width:60px;

		&-svg{
			position: absolute;
			top:0;
			right:0.1rem;
		}

		&-counter{
			width:21px;
			height:21px;
			display:flex;
			align-items:center;
			justify-content: center;
			background-image: url('../images/basket-counter.png');
			background-repeat: no-repeat;
			background-size: cover;
			color:black;
			font-family: "700";
			font-size: 14px;
			position:absolute;
			top:3px;
			right:0;
		}
	}

	@media screen and (max-width: 600px) {
		&__menu{
      display:block;
    }

		&__nav-container1{
			display:none;
		}

		&__nav-container2{
			display:block;
			transform:scale(0);

			nav{
				gap:0.2rem;
				justify-content: center;
			}
		}

		&__logo{
			font-size:16px;
			svg{
				width:28px;
			}
		}

		&__basket{
			svg{
				width:22px;
			}

			&-counter{
				width:14px;
				height:14px;
				font-size:10px;
			}
		}
	}
}